body,
html {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-overlay {
    background-size: cover;
    background-color: #f8f9fa;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
}

form {
    margin-top: -90px;
    z-index: 2;
    position: relative;
    z-index: 2;
}

.logo {
    margin-top: -100px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.btn-entrar {
    background-color: #bca662;
    border: #bca662;
}

.btn-entrar:hover {
    background-color: #6e6138;
}
